<a href="https://colab.research.google.com/github/Dcoding15/PYTHON/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment - 1**

2. Write a program to add two numbers.

In [ ]:
num1 = 10
num2 = 20
print("Addition of two numbers: ",num1+num2)

Addition of two numbers:  30

3. Write a python program to accept sides from the use and find the area of a triangle.

In [ ]:
base = int(input('Enter the base of triangle: '))
height = int(input('Enter the height of triangle: '))
area = (base*height)/2
print("Area of triangle: ",area)

Enter the base of triangle: 10
Enter the height of triangle: 20
Area of triangle:  100.0

4. Write a python program to accept two numbers from the user and swap between two numbers using a third variable and without using a third variable.

In [ ]:
var1 = int(input('Enter the first variable: '))
var2 = int(input('Enter the second variable: '))
var3 = var1
var1 = var2
var2 = var3
print("After swapping: ",var1,var2)

Enter the first variable: 10
Enter the second variable: 20
After swapping:  20 10

In [ ]:
var1 = int(input('Enter the first variable: '))
var2 = int(input('Enter the second variable: '))
var1 = var1 ^ var2
var2 = var1 ^ var2
var1 = var1 ^ var2
print("After swapping: ",var1,var2)

Enter the first variable: 10
Enter the second variable: 20
After swapping:  20 10

5. Write a python program that will take input from user and find simple interest.

In [ ]:
P = int(input('Enter the principal amount: '))
R = int(input('Enter the rate of interest: '))
T = int(input('Enter the time period in years: '))
SI = (P*R*T)/100
print("Simple Interest: ",SI)

Enter the principal amount: 100000
Enter the rate of interest: 5
Enter the time period in years: 2
Simple Interest:  10000.0

6. Write a Python program to demonstrate various base conversion functions.

In [ ]:
num = 10
print("Binary: ",bin(num))
print("Octal: ",oct(num))
print("Hexadecimal: ",hex(num))
print("------------------------")

num = 0b1010
print("Decimal: ",int(num))
print("Octal: ",oct(num))
print("Hexadecimal: ",hex(num))
print("------------------------")

num = 0o12
print("Decimal: ",int(num))
print("Binary: ",bin(num))
print("Hexadecimal: ",hex(num))
print("------------------------")

num = 0xa
print("Decimal: ",int(num))
print("Binary: ",bin(num))
print("Octal: ",oct(num))

Binary:  0b1010
Octal:  0o12
Hexadecimal:  0xa
------------------------
Decimal:  10
Octal:  0o12
Hexadecimal:  0xa
------------------------
Decimal:  10
Binary:  0b1010
Hexadecimal:  0xa
------------------------
Decimal:  10
Binary:  0b1010
Octal:  0o12

7. Write a Python program to demonstrate various type conversion functions.

In [ ]:
num = 10  # integer
print("String: ",str(num))
print("Float: ",float(num))
print("String: ",str(num))
print("Complex: ",complex(num))
print("Boolean: ",bool(num))
print("------------------------")

num = "10"  # string
print("Integer: ",int(num))
print("Float: ",float(num))
print("Complex: ",complex(num))
print("Boolean: ",bool(num))
print("------------------------")

num = 10.5  # float
print("Integer: ",int(num))
print("String: ",str(num))
print("Complex: ",complex(num))
print("Boolean: ",bool(num))
print("------------------------")

num = 10+5j # complex
print("String: ",str(num))
print("Boolean: ",bool(num))
print("------------------------")

num = True  # boolean
print("Integer: ",int(num))
print("String: ",str(num))
print("Float: ",float(num))
print("Complex: ",complex(num))
print("------------------------")

l = [1,2,3,4,5] # list
print("String: ",str(l))
print("Tuple: ",tuple(l))
print("Set: ",set(l))
print("------------------------")

s = "Hello" # string
print("List: ",list(s))
print("Tuple: ",tuple(s))
print("Set: ",set(s))
print("------------------------")

t = (1,2,3,4,5) # tuple
print("List: ",list(t))
print("Set: ",set(t))
print("String: ",str(t))
print("------------------------")

s = {1,2,3,4,5} # set
print("List: ",list(s))
print("Tuple: ",tuple(s))
print("String: ",str(s))

String:  10
Float:  10.0
String:  10
Complex:  (10+0j)
Boolean:  True
------------------------
Integer:  10
Float:  10.0
Complex:  (10+0j)
Boolean:  True
------------------------
Integer:  10
String:  10.5
Complex:  (10.5+0j)
Boolean:  True
------------------------
String:  (10+5j)
Boolean:  True
------------------------
Integer:  1
String:  True
Float:  1.0
Complex:  (1+0j)
------------------------
String:  [1, 2, 3, 4, 5]
Tuple:  (1, 2, 3, 4, 5)
Set:  {1, 2, 3, 4, 5}
------------------------
List:  ['H', 'e', 'l', 'l', 'o']
Tuple:  ('H', 'e', 'l', 'l', 'o')
Set:  {'o', 'H', 'e', 'l'}
------------------------
List:  [1, 2, 3, 4, 5]
Set:  {1, 2, 3, 4, 5}
String:  (1, 2, 3, 4, 5)
------------------------
List:  [1, 2, 3, 4, 5]
Tuple:  (1, 2, 3, 4, 5)
String:  {1, 2, 3, 4, 5}

# **Assignment - 2**

1. Demonstrate the following Operators in python with suitable example.<br>
    a) Arithematic Operator<br>
    b) Relational Operator<br>
    c) Assignment Operator<br>
    d) Logical Operator<br>
    e) Bitwise Operator<br>
    f) Ternary Operator<br>
    g) Membership Operator<br>
    h) Identity Operator

In [ ]:
num1 = 10
num2 = 20
# Arithematic Operator
print("Addition of two numbers: ",num1+num2)
print("Subtraction of two numbers: ",num1-num2)
print("Multiplication of two numbers: ",num1*num2)
print("Division of two numbers: ",num1/num2)
print("Modulus of two numbers: ",num1%num2)
print("Exponent of two numbers: ",num1**num2)
print("Floor division of two numbers: ",num1//num2)

# Relational Opeartor
num1 = 10
num2 = 20
print("If both the number are same: ",num1==num2)
print("If both the number are not same: ",num1!=num2)
print("If first number is greater than second number: ",num1>num2)
print("If first number is less than second number: ",num1<num2)
print("If first number is greater than or equal to second number: ",num1>=num2)
print("If first number is less than or equal to second number: ",num1<=num2)

# Assignment Operator
num1 = 10
num2 = 20
print("Assigning value of num2 to num1: ",num1)
num1 = 10
num2 = 20
num1+=num2
print("Adding num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 20
num1-=num2
print("Subtract num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 20
num1*=num2
print("Multiply num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 20
num1/=num2
print("Dividing num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 20
num1%=num2
print("Modulus num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 5
num1**=num2
print("Exponent num2 to num1 and assign to num1: ",num1)
num1 = 10
num2 = 20
num1//=num2
print("Floor division num2 to num1 and assign to num1: ",num1)

# Logical Operator
num1 = True
num2 = False
print("Logical AND: ",num1 and num2)
print("Logical OR: ",num1 or num2)
print("Logical NOT: ",not num1)

# Bitwise Operator
num1 = 0b0110
num2 = 0b0011
print("Bitwise AND: ",num1 & num2)
print("Bitwise OR: ",num1 | num2)
print("Bitwise XOR: ",num1 ^ num2)
print("Bitwise NOT: ",~num1)
print("Bitwise Left Shift: ",num1 << 1)
print("Bitwise Right Shift: ",num1 >> 1)

# Ternary Operator
num1 = 10
num2 = 20
print("num1 is greater than num2" if num1>num2 else "num2 is greater than num1")

 # Membership Operator
num1 = 10
num2 = 20
list1 = [10,20,30,40,50]
print("If num1 is present in list1: ",num1 in list1)
print("If num2 is not present in list1: ",num2 not in list1)

# Identity Operator
num1 = 10
num2 = 20
print("If num1 is same as num2: ",num1 is num2)
print("If num1 is not same as num2: ",num1 is not num2)

Addition of two numbers:  30
Subtraction of two numbers:  -10
Multiplication of two numbers:  200
Division of two numbers:  0.5
Modulus of two numbers:  10
Exponent of two numbers:  100000000000000000000
Floor division of two numbers:  0
If both the number are same:  False
If both the number are not same:  True
If first number is greater than second number:  False
If first number is less than second number:  True
If first number is greater than or equal to second number:  False
If first number is less than or equal to second number:  True
Assigning value of num2 to num1:  10
Adding num2 to num1 and assign to num1:  30
Subtract num2 to num1 and assign to num1:  -10
Multiply num2 to num1 and assign to num1:  200
Dividing num2 to num1 and assign to num1:  0.5
Modulus num2 to num1 and assign to num1:  10
Exponent num2 to num1 and assign to num1:  100000
Floor division num2 to num1 and assign to num1:  0
Logical AND:  False
Logical OR:  True
Logical NOT:  False
Bitwise AND:  2
Bitwise OR:  7
Bitwise XOR:  5
Bitwise NOT:  -7
Bitwise Left Shift:  12
Bitwise Right Shift:  3
num2 is greater than num1
If num1 is present in list1:  True
If num2 is not present in list1:  False
If num1 is same as num2:  False
If num1 is not same as num2:  True

2. Write Python program that:<br>
    a. Prompts the user for their first name and last name using input().<br>
    b. Prints a greeting message using print(), where the greeting includes the full name (both first and last name) on one line.

In [ ]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
print("Hello",fname,lname)

Enter first name: Debrishi
Enter last name: Biswas
Hello Debrishi Biswas

3. Modify the program to:<br>
    a. Print the greeting message using print() with a custom separator (sep attribute) between the first name and last name.<br>
    b. Ensure that the greeting message ends with a specific string (e.g., "Have a great day!") using the end attribute.

In [ ]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
print("Hello",fname,lname,sep=" || ",end=" Have a great day!")

Enter first name: Debrishi
Enter last name: Biswas
Hello || Debrishi || Biswas Have a great day!

4. Write a Python program that:<br>
    a. Takes three integer inputs from the user and prints them in a single line with each number separated by a custom separator (e.g., ", ").<br>
    b. Ensure the output ends with a custom string (e.g., " - End of input").

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
print(num1,num2,num3,sep=", ",end=" - End of input")

Enter first number: 10
Enter second number: 20
Enter third number: 30
10, 20, 30 - End of input

5. Write a Python program that: <br>
    a. Demonstrates the use of the replacement operator {} by formatting a string to include values obtained from user inputs. The string should include a name, age, and city.<br>
    b. Use print() to format and display a message such as "Name: {name}, Age: {age}, City: {city}", where {name}, {age}, and {city} are replaced with actual values from user inputs.

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"Name: {name}, Age: {age}, City: {city}")

Enter your name: Debrishi
Enter your age: 21
Enter your city: Kolkata
Name: Debrishi, Age: 21, City: Kolkata

6. Write a Python program that:<br>
   a. Collects a list of five items from the user and prints them in a single line, separated by a custom separator (e.g., " | ").<br>
   b. Ensure the output ends with a custom message using the end attribute (e.g., " - Items listed").

In [ ]:
l = [ i for i in input().split()]
print(*l,sep=" | ",end=" - Items listed")

red green blue yellow black
red | green | blue | yellow | black - Items listed

7. Write a Python program that:<br>
   a. Demonstrates formatting a complex string with multiple replacement fields using the replacement operator {}. Include fields such as a product name quantity, and price.<br>
   b. Print a formatted receipt with a message like "Product: <product_name>, Quantity: <quantity>, Price: <price>".

In [ ]:
product_name = input("Enter product name: ")
quantity = int(input("Enter quantity: "))
price = float(input("Enter price: "))
print(f"Product: {product_name}, Quantity: {quantity}, Price: {price}")

Enter product name: apple
Enter quantity: 10
Enter price: 2
Product: apple, Quantity: 10, Price: 2.0

8. Write a python program to check if a number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number: 20
Number is even

9. Write a python program to check whether a given number is divisible by 5 or 11 or not.

In [ ]:
num = int(input("Enter a number: "))
if num%5==0 or num%11==0:
    print("Number is divisible by 5 and 11")
else:
    print("Number is not divisible by 5 and 11")

Enter a number: 55
Number is divisible by 5 and 11

10. Write a python program to check whether a number is divisible by 2 and 3.

In [ ]:
num = int(input("Enter a number: "))
if num%2==0 and num%3==0:
    print("Number is divisible by 2 and 3")
else:
    print("Number is not divisible by 2 and 3")

Enter a number: 12
Number is divisible by 2 and 3

11. Write a python program to check the greatest among three numbers.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if num1>num2 and num1>num3:
    print("First number is greatest")
elif num2>num1 and num2>num3:
    print("Second number is greatest")
elif num3>num1 and num3>num2:
    print("Third number is greatest")
else:
    print("All numbers are equal")

Enter first number: 10
Enter second number: 20
Enter third number: 30
Third number is greatest

12. Write a python program to check if a year is a leap year or not.

In [ ]:
num = int(input("Enter a year: "))
if num%4==0:
    print("Year is a leap year")
else:
    print("Year is not a leap year")

Enter a year: 2024
Year is a leap year

13. Write a python program to calculate the student grade using if-else. <br>
If percentage > 85 print A grade, <br>
If percentage < 85 && percentage >= 75 print B grade, <br>
If percentage < 75 && percentage >= 50 print C grade, <br>
If percentage > 30 && percentage <= 50 print D grade, <br>
If percentage < 30 print fail. <br>

In [ ]:
num = int(input("Enter your percentage: "))
if num>85:
    print("A grade")
elif num<85 and num>=75:
    print("B grade")
elif num<75 and num>=50:
    print("C grade")
elif num>30 and num<=50:
    print("D grade")
else:
    print("Fail")

Enter your percentage: 75
B grade

14. Prepare a calculator using a switch case.

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("1. Addition\n2. Subtraction\n3. Multiplication\n4. Division")
choice = int(input("Enter your choice: "))
match choice:
    case 1:
        print("Addition: ",num1+num2)
    case 2:
        print("Subtraction: ",num1-num2)
    case 3:
        print("Multiplication: ",num1*num2)
    case 4:
        print("Division: ",num1/num2)
    case _:
        print("Invalid choice")

Enter first number: 10
Enter second number: 20
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter your choice: 3
Multiplication:  200

15. Find out all the geometric shapes using a switch case.

In [ ]:
print("1. Circle\n2. Square\n3. Rectangle\n4. Triangle")
choice = int(input("Enter your choice: "))
match choice:
    case 1:
        print("Circle")
    case 2:
        print("Square")
    case 3:
        print("Rectangle")
    case 4:
        print("Traingle")
    case _:
        print("Invalid choice")

Enter a number: 3
Rectangle

16. Write a python program using a loop to count the number of even and odd numbers from a series of numbers.

In [ ]:
n = int(input("Enter the series of elements: "))
count_even = 0
count_odd = 0
for i in range(n):
    if i%2==0:
      count_even += 1
    if i%2!=0:
      count_odd += 1
print("No. of even:",count_even)
print("No. of odd:",count_odd)

Enter the series of elements: 10
No. of even: 5
No. of odd: 5

17. Write a python program to calculate the factorial of a given number using a for loop.

In [ ]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1,num+1):
    fact *= i
print("Factorial: ",fact)

Enter a number: 5
Factorial:  120

18. Write a python program to find if a number is prime or not.

In [ ]:
num = int(input("Enter a number: "))
for i in range(2,num):
    if num%i==0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Enter a number: 7
Number is prime

19. Write a python program to find the reverse of a given number using while loop.

In [ ]:
num = int(input("Enter a number: "))
rev = 0
while num>0:
    rev = rev*10 + num%10
    num //= 10
print("Reverse: ",rev)

Enter a number: 1234
Reverse:  4321

20. Write a python program to find whether a number is Armstrong or not.

In [ ]:
num = int(input("Enter a number: "))
temp = num
sum = 0
count = 0
# no. of digits
while temp>0:
    count += 1
    temp //= 10
temp = num
while num>0:
    sum += (num%10)**count
    num //= 10
if sum==temp:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

Enter a number: 1634
Number is Armstrong

21. Demonstrate the following control transfer statements in Python with suitable examples.<br>
a. break<br>
b. continue<br>
c. pass

In [ ]:
for i in range(10):
    if i==5:
        break
    print(i)

print("------------------------------")
for i in range(10):
    if i==5:
        continue
    print(i)

print("------------------------------")
for i in range(10):
    if i==5:
        pass
    print(i)

0
1
2
3
4
------------------------------
0
1
2
3
4
6
7
8
9
------------------------------
0
1
2
3
4
5
6
7
8
9

22. Write a python program to print the Fibonacci series.

In [ ]:
num = int(input("Enter the number of terms: "))
a = 0
b = 1
for i in range(num):
    c = a+b
    print(a)
    a = b
    b = c

Enter the number of terms: 10
0
1
1
2
3
5
8
13
21
34

23. Pattern Printing in Python.<br>
  a. right half pyramid <br>
  b. inverted right half pyramid <br>
  c. right half pyramid only with 0 and 1 alternatively <br>
  d. diamod pattern <br>

In [ ]:
num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(i+1):
        print("*",end=" ")
    print()

print("------------------------------")
for i in range(num):
    for j in range(num-i):
      print("*",end=" ")
    print()

print("------------------------------")
for i in range(num):
    for j in range(i+1):
        if j%2==0:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

print("------------------------------")
for i in range(num):
    for j in range(num-i):
        print("  ",end="")
    for j in range(i):
        print("*",end="   ")
    print()
for i in range(num):
    for j in range(i):
        print("  ",end="")
    for j in range(num-i):
        print("*",end="   ")
    for j in range(i+1):
        print("  ",end="")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
------------------------------
* * * * *
* * * *
* * *
* *
*
------------------------------
1
1 0
1 0 1
1 0 1 0
1 0 1 0 1
------------------------------

        *
      *   *
    *   *   *
  *   *   *   *
*   *   *   *   *
  *   *   *   *
    *   *   *
      *   *
        *

# **Assignment - 3**

1. Print the first 5 characters of the string using positive indexing.

In [ ]:
str1 = "Hello, World!"
print(str1[:5])

Hello

2. Print the last 5 characters of the string using negative indexing.

In [ ]:
str1 = "Hello, World!"
print(str1[-5:])

orld!

3. Extract and print a substring from index 2 to 10 using slicing.

In [ ]:
str1 = "Hello, World!"
print(str1[2:10])

llo, Wor

4. Extract and print every third character of the string using slicing with a step value.

In [ ]:
str1 = "Hello, World!"
print(str1[::3])

Hl r!

5. Write a Python program that performs the following operations on a user-input
string:<br>
    1. Print the length of the string.<br>
    2. Remove leading and trailing spaces from the string and print the result.<br>
    3. Replace all occurrences of the word "Python" with "Java" and print the updated string.<br>
    4. Print the index of the first occurrence of the substring "World" in the string.<br>
    5. Convert the entire string to uppercase and print it.<br>
    6. Split the string into a list of words and print each word on a new line.<br>
    7. Check if the string starts with "Hello" and ends with "Programming." and print the results.<br>

In [ ]:
str1 = input("Enter a string: ")
print("Length of string: ",len(str1))
print("String after removing leading and trailing spaces: ",str1.strip())
print("String after replacing Python with Java: ",str1.replace("Python","Java"))
print("Index of first occurrence of substring World: ",str1.index("World"))
print("String in uppercase: ",str1.upper())
print("List of words: ")
for i in str1.split():
    print(i)
print("String starts with Hello and ends with Programming: ",str1.startswith("Hello") and str1.endswith("Programming"))

Enter a string: Hello World i do Python Programming
Length of string:  35
String after removing leading and trailing spaces:  Hello World i do Python Programming
String after replacing Python with Java:  Hello World i do Java Programming
Index of first occurrence of substring World:  6
String in uppercase:  HELLO WORLD I DO PYTHON PROGRAMMING
List of words:
Hello
World
i
do
Python
Programming
String starts with Hello and ends with Programming:  True

6. Python program to check if the string is palindrome or not.

In [ ]:
str1 = input("Enter a string: ")
if str1==str1[::-1]:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter a string: ababa
String is palindrome

7. Python program to find the length of a string

In [ ]:
str1 = input("Enter a string: ")
count = 0
for i in str1:
    count += 1
print("Length of string: ",count)

Enter a string: abbbababc
Length of string:  9

# **Assignment - 4**

1. Create a list of the first 10 positive integers using square brackets.<br>
    1. Convert a string "apple" into a list of its characters using the list() constructor.<br>
    2. Generate a list of squares of numbers from 1 to 10 using a list comprehension.<br>
    3. Create a list with the number 7 repeated 8 times using list multiplication.<br>
    4. Print all created lists.

In [ ]:
l1 = [1,2,4,8,16,32,64,128,256,512,1024]
l2 = list("apple")
l3 = [i for i in range(1,11)]
l4 = [7]*8
print(l1,l2,l3,l4,sep='\n')

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
['a', 'p', 'p', 'l', 'e']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 7, 7, 7, 7, 7, 7, 7]

2. Create a list with the elements ['apple', 'banana', 'cherry'] and print its length.<br>
  1. Count the number of occurrences of 'banana' in the list.<br>
  2. Find the index of 'cherry' in the list.<br>
  3. Append the element 'date' to the end of the list.<br>
  4. Insert the element 'blueberry' at the second position in the list using the insert() method.<br>
  5. Extend the list with another list ['fig', 'grape'].<br>
  6. Remove the first occurrence of 'apple' from the list.<br>
  7. Pop the last element from the list and print it.<br>
  8. Reverse the order of elements in the list.<br>
  9. Sort the list in alphabetical order.<br>
  10. Create a copy of the sorted list.

In [ ]:
l1 = ['apple','banana','cherry','apple','cherry','banana','banana']
print("Length of list: ",len(l1))
print("Number of occurrences of banana: ",l1.count('banana'))
print("Index of cherry: ",l1.index('cherry'))
l1.append('date')
print("List after appending date: ",l1)
l1.insert(1,'blueberry')
print("List after appending date and inserting blueberry: ",l1)
l1.extend(['fig', 'grape'])
print("List after removing apple: ",l1)
l1.remove('apple')
print("Popped element: ",l1.pop())
l1.reverse()
print("Reversed list: ",l1)
l1.sort()
print("Sorted list: ",l1)
l2 = l1.copy()
print("Copy of sorted list: ",l2)

Length of list:  7
Number of occurrences of banana:  3
Index of cherry:  2
List after appending date:  ['apple', 'banana', 'cherry', 'apple', 'cherry', 'banana', 'banana', 'date']
List after appending date and inserting blueberry:  ['apple', 'blueberry', 'banana', 'cherry', 'apple', 'cherry', 'banana', 'banana', 'date']
List after removing apple:  ['apple', 'blueberry', 'banana', 'cherry', 'apple', 'cherry', 'banana', 'banana', 'date', 'fig', 'grape']
Popped element:  grape
Reversed list:  ['fig', 'date', 'banana', 'banana', 'cherry', 'apple', 'cherry', 'banana', 'blueberry']
Sorted list:  ['apple', 'banana', 'banana', 'banana', 'blueberry', 'cherry', 'cherry', 'date', 'fig']
Copy of sorted list:  ['apple', 'banana', 'banana', 'banana', 'blueberry', 'cherry', 'cherry', 'date', 'fig']

3. Create a list of integers from 1 to 20.

In [ ]:
l1 = [i for i in range(1,21)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

4. Use slicing to obtain:<br>
  1. A sublist containing every second element starting from index 0.<br>
  2. A sublist containing elements from index 5 to 15.<br>
  3. A sublist containing elements from the end of the list up to but not including index 10 in reverse order.

In [ ]:
l1 = [i for i in range(1,21)]
print("Every second element starting from index 0: ",l1[::2])
print("Elements from index 5 to 15: ",l1[5:16])
print("Elements from the end of the list up to but not including index 10 in reverse order: ",l1[-10::-1])

Every second element starting from index 0:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Elements from index 5 to 15:  [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
Elements from the end of the list up to but not including index 10 in reverse order:  [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

5. Print the original list and all the sliced sublists.

In [ ]:
l1 = ["red","yellow","green","blue","orange","black"]
print("Original list: ",l1)
print("Every second element starting from index 0: ",l1[::2])

Original list:  ['red', 'yellow', 'green', 'blue', 'orange', 'black']
Every second element starting from index 0:  ['red', 'green', 'orange']

6. Create a list of integers from 1 to 30.

In [ ]:
l1  = [i for i in range(1,31)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

7. Use a list comprehension to create:<br>
  1. A list of squares of all even numbers from the original list.<br>
  2. A list of the cube roots of numbers from the original list that are divisible by 3.<br>
  3. A list of tuples where each tuple contains an element from the original list and its corresponding index, but only for elements that are greater than 15.<br>
  4. Print all the resulting lists.

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 15, 16, 18, 20, 21, 24, 30]
print([i**2 for i in l1 if i%2==0])
print([i**(1/3) for i in l1 if i%3==0])
print([(x, i) for i, x in enumerate(l1) if x > 15])

[4, 16, 36, 256, 324, 400, 576, 900]
[1.4422495703074083, 1.8171205928321397, 2.46621207433047, 2.6207413942088964, 2.7589241763811203, 2.8844991406148166, 3.1072325059538586]
[(16, 7), (18, 8), (20, 9), (21, 10), (24, 11), (30, 12)]

# **Assignment - 5**

1. Write a Python program that demonstrates the creation of tuples using different methods:<br>
  1. Create a tuple with mixed data types (e.g., integers, strings, and floats).<br>
  2. Create a tuple from a list and print it.<br>
  3. Create a tuple from a range of numbers.<br>
  4. Use tuple unpacking to extract values from a tuple and print them.

In [ ]:
t1 = (1,2,1.2,23.4,"a","b","hello")
t2 = tuple([1,2,3,4,5])
t3 = tuple(range(1,11))
print(t1,t2,t3,sep='\n')

(1, 2, 1.2, 23.4, 'a', 'b', 'hello')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

2. Write a Python program that demonstrates the following tuple operations:<br>
  1. Create a single-element tuple and print its type.<br>
  2. Create a nested tuple and access its elements.<br>
  3. Concatenate two tuples and repeat the resulting tuple multiple times.<br>
  4. Demonstrate that tuples are immutable by attempting to change an element
and handling the resulting error.

In [ ]:
t1 = (100,)
t2 = (1,2,3,(4,5,6))
t3 = t1+t2
print(type(t1),t2,t3,sep='\n')
try:
    t1[0] = 10
except:
    print("Tuples are immutable")

<class 'tuple'>
(1, 2, 3, (4, 5, 6))
(100, 1, 2, 3, (4, 5, 6))
Tuples are immutable

3. Write a Python program that performs the following operations on tuples:<br>
  1. Create a tuple containing the integers from 10 to 1.<br>
  2. Print the number of elements in the tuple.<br>
  3. Count the number of occurrences of the number 5 in the tuple and print the result.<br>
  4. Find the index of the first occurrence of the number 7 and print it.<br>
  5. Create and print a sorted version of the tuple in ascending order.<br>
  6. Find and print the minimum and maximum values in the tuple .<br>
  7. Create and print a reversed version of the tuple.<br>

In [ ]:
t1 = ([i for i in range(10,0,-1)])
print(len(t1))
print(t1.count(5))
print(t1.index(7))
print(sorted(t1))
print(min(t1),max(t1))
print(tuple(reversed(t1)))

10
1
3
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

4. Write a Python program that demonstrates the following tasks using tuple functions and methods:<br>
  1. Create a tuple of float numbers with some duplicates, e.g., (3.14,2.71,1.41,3.14,2.71).<br>
  2. Print the length of the tuple.<br>
  3. Count how many times the value 3.14 appears in the tuple.<br>
  4. Find the index of the first occurrence of 1.41.<br>
  5. Create and print a sorted version of the tuple in descending order.<br>
  6. Find and print the smallest and largest values in the tuple.<br>
  7. Create and print a reversed version of the tuple.

In [ ]:
t1 = (3.14,2.71,1.41,3.14,2.71)
print(len(t1))
print(t1.count(3.14))
print(t1.index(1.41))
print(sorted(t1,reverse=True))
print(min(t1),max(t1))
print(tuple(reversed(t1)))

5
2
2
[3.14, 3.14, 2.71, 2.71, 1.41]
1.41 3.14
(2.71, 3.14, 1.41, 2.71, 3.14)

# **Assignment - 6**

1. Write a Python program that demonstrates the following advanced set creation
techniques and operations:
  1. Create a set using curly braces with mixed data types and print it.
  2. Create a set from a string where each unique character is an element in the
set.
  3. Create a set from a list of tuples, where each tuple is a set element.
  4. Use set comprehensions to create a set of squares of even numbers from 1 to 20.
  5. Demonstrate the immutability of sets by trying to add an element to a set
created from a frozen set and handle any exceptions.

In [ ]:
s1 = {1,2,"hello",23.4,1.2,'a','b'}
s2 = set("hello")
s3 = {(1,2,3),(4,5,6),(7,8,9)}
s4 = {i**2 for i in range(1,21) if i%2==0}
print(s1,s2,s3,s4,sep='\n')
try:
    s5 = frozenset({1,2,3})
    s5.add(4)
except:
    print("Sets are immutable")

{1, 2, 1.2, 23.4, 'a', 'b', 'hello'}
{'o', 'l', 'h', 'e'}
{(7, 8, 9), (1, 2, 3), (4, 5, 6)}
{64, 256, 100, 4, 36, 196, 324, 16, 144, 400}
Sets are immutable

2. Write a Python program that demonstrates the following set creation methods
and transformations:
  1. Create a set from a range of numbers.
  2. Create a set from a dictionary’s keys and values, then print the sets.
  3. Use a set comprehension to create a set of uppercase letters from a given
string.
  4. Convert a set into a list and sort it in descending order.
  5. Create a set of unique words from a given sentence and print the set.

In [ ]:
s1 = set(range(1,11))
s2 = {'1':'one','2':'two','3':'three'}
s3 = {i.upper() for i in "hello"}
s4 = list(s1)
s4.sort(reverse=True)
s5 = set("Hello World".split())
print(s1,s2,s3,s4,s5,sep='\n')

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'1': 'one', '2': 'two', '3': 'three'}
{'L', 'E', 'H', 'O'}
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
{'World', 'Hello'}

3. Write a Python program that demonstrates the use of the following set
methods and functions:
  1. Create an initial set set1 with elements {1, 2, 3, 4, 5} and set2 with elements {4, 5, 6, 7, 8}.
  2. Add a new element to set1 and print the updated set.
  3. Add multiple elements from another set {10, 11} to set2 and print the updated set.
  4. Create a copy of set1 and print it.
  5. Remove and print an element from set1.
  6. Remove the element 3 from set1 and print the updated set. Handle any
exceptions if the element is not found.
  7. Remove the element 10 from set2 and print the updated set. Ensure the
element is not in the set.
  8. Use the method to empty set2 and print the cleared set.
  9. Find and print the union of set1 and set2.
  10. Find and print the intersection of set1 and set2 .
  11. Find and print the difference between set1 and set2 using the.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s1.add(6)
print(s1)
s2.update({10,11})
print(s2)
s3 = s1.copy()
print(s3)
try:
    s1.remove(3)
    print(s1)
except:
    print("Element not found")
s2.remove(10)
print(s2)
s2.clear()
print(s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 10, 11}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{4, 5, 6, 7, 8, 11}
set()
{1, 2, 4, 5, 6}
set()
{1, 2, 4, 5, 6}

4. Write a Python program that demonstrates the following set operations with
real-world examples:
  1. Create two sets representing students in two different courses: course_A with elements {'Alice', 'Bob', 'Charlie'} and course_B with elements {'Bob', 'David', 'Eve'}.
  2. Use the add() method to include a new student, 'Frank', in course_A and print the updated set.
  3. Use the update() method to add students from a list ['Grace', 'Hank'] to
course_B and print the updated set.
  4. Create a copy of course_A and print it.
  5. Use the pop() method to remove and print a student from course_A.
  6. Remove a specific student, 'Alice', from course_A using remove(), and print the updated set. Handle any exceptions if the student is not found.
  7. Use discard() to attempt to remove a student, 'Zoe', from course_B and print the set, ensuring no error if the student is not present.
  8. Use clear() to empty course_B and print the result.
  9. Compute and print the union of course_A and course_B to show all students in either course.
  10. Compute and print the intersection of course_A and course_B to show students enrolled in both courses.
  11. Compute and print the difference between course_A and course_B to show
students only in course_A.

In [ ]:
course_A = {'Alice', 'Bob', 'Charlie'}
course_B = {'Bob', 'David', 'Eve'}
course_A.add('Frank')
print(course_A)
course_B.update(['Grace', 'Hank'])
print(course_B)
course_C = course_A.copy()
print(course_C)
print(course_A.pop())
try:
    course_A.remove('Alice')
    print(course_A)
except:
    print("Element not found")
course_B.remove('Zoe')
print(course_B)
course_B.clear()
print(course_B)
print(course_A.union(course_B))
print(course_A.intersection(course_B))
print(course_A.difference(course_B))

# **Assignment - 7**

1. Write a Python program that demonstrates the following advanced dictionary
creation techniques:
  1. Create a dictionary using dictionary literals with mixed data types as keys and values.
  2. Create a dictionary from two lists: one containing keys and the other containing corresponding values. Handle cases where lists have different lengths.
  3. Create a dictionary using dictionary comprehension to generate key-value pairs where keys are numbers and values are their squares.
  4. Create a nested dictionary with three levels and access elements within the
nested structure.
  5. Use the fromkeys() method to create a dictionary with default values and
modify the values of specific keys.

In [ ]:
d1 = {'a':10,'b':20.23,'c':"hellow"}
d2 = dict(zip([1,2,3],["one","two","three"]))
d3 = {str(i):i**2 for i in range(1,11)}
d4 = {1:{2:{3:"hello"}}}
d5 = dict.fromkeys([1,2,3],4)
d5[1] = 10
print(d1,d2,d3,d4,d5,sep='\n')

{'a': 10, 'b': 20.23, 'c': 'hellow'}
{1: 'one', 2: 'two', 3: 'three'}
{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81, '10': 100}
{1: {2: {3: 'hello'}}}
{1: 10, 2: 4, 3: 4}

2. Write a Python program that demonstrates the following advanced dictionary
operations:
  1. Create a dictionary with keys as integers and values as lists of their multiples.
  2. Use the dict() constructor to create a dictionary from a sequence of key-value pairs, where pairs are tuples.
  3. Create a dictionary using a list of tuples where each tuple has a key and a value. Convert the list into a dictionary and print it.
  4. Create a dictionary with complex keys, such as tuples or frozensets, and
demonstrate how to access and modify values.
  5. Utilize the defaultdict from the collections module to create a dictionary with a default factory function.

In [ ]:
d1 = {i:[i*j for j in range(1,11)] for i in range(1,5)}
d2 = dict([('a',1),('b',2),('c',3)])
d3 = dict([('a',1),('b',2),('c',3)])
d4 = {('a','b'):1,('b','c'):2,('c','d'):3}
from collections import defaultdict
d5 = defaultdict(list)
d5['fruits'].append('apple')
d5['fruits'].append('banana')
d5['vegetables'].append('carrot')
print(d1,d2,d3,d4,d5,sep='\n')

{1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], 4: [4, 8, 12, 16, 20, 24, 28, 32, 36, 40]}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{('a', 'b'): 1, ('b', 'c'): 2, ('c', 'd'): 3}
defaultdict(<class 'list'>, {'fruits': ['apple', 'banana'], 'vegetables': ['carrot']})

3. Write a Python program that demonstrates the following advanced dictionary
functions and methods:
  1. Use the dict() constructor to create a dictionary from a list of tuples, where each tuple represents a key-value pair.
  2. Find the number of items in a dictionary.
  3. Use the method to empty a dictionary and print the result.
  4. Access values safely, including handling cases where the key does not exist.
  5. Remove and return a specific key-value pair from a dictionary. Handle the case where the key is not found.
  6. Remove and return an arbitrary key-value pair from the dictionary.
  7. Obtain and print all the keys in the dictionary.
  8. Obtain and print all the values in the dictionary.
  9. Obtain and print all key-value pairs in the dictionary as tuples.
  10. Create a shallow copy of the dictionary and modify the original dictionary to show the copy is independent.
  11. Merge another dictionary into the current dictionary and print the updated
result.

In [ ]:
d1 = dict([('a',1),('b',2),('c',3)])
print(len(d1.items()))
try:
    print(d1['a'])
    print(d1.pop('a'))
except:
    print("Key not found")
print(d1.popitem())
print(d1.keys())
print(d1.values())
print(d1.items())
d2 = d1.copy()
d2['a'] = 1
print(d1,d2,sep='\n')
d1.update(d2)
print(d1)

3
1
1
('c', 3)
dict_keys(['b'])
dict_values([2])
dict_items([('b', 2)])
{'b': 2}
{'b': 2, 'a': 1}
{'b': 2, 'a': 1}

4. Write a Python program that performs the following tasks using dictionary
functions and methods:
  1. Create a dictionary representing a product inventory with product names as keys and quantities as values. Initialize it with some products.
  2. Print the number of products in the inventory.
  3. Remove all products from the inventory and print the empty dictionary.
  4. Create a new inventory and retrieve quantities for specific products, including handling cases where the product might not exist.
  5. Remove a specific product from the inventory and handle the case where the
product is not found.
  6. Remove and print an arbitrary product from the inventory.
  7. List all the product names in the inventory.
  8. List all the quantities of products in the inventory.
  9. List all product names with their quantities.
  10. Create a copy of the inventory and demonstrate that changes to the original inventory do not affect the copy.
  11. Add new products or update quantities of existing products in the inventory and print the updated inventory.

In [3]:
product_inventory = {'apple': 10, 'banana': 5, 'orange': 8, 'grapes':7}
print(len(product_inventory))
product_inventory.clear()
print(product_inventory)
product_inventory = {'apple': 10, 'banana': 5, 'orange': 8, 'grapes':7}
print(product_inventory.get('apple'))
try:
    print(product_inventory.pop('mango'))
except:
    print("Product not found")
print(product_inventory.popitem())
print(product_inventory.keys())
print(product_inventory.values())
print(product_inventory.items())
product_inventory_copy = product_inventory.copy()
product_inventory_copy['apple'] = 1
print(product_inventory,product_inventory,sep='\n')
product_inventory.update(product_inventory_copy)
print(product_inventory)

4
{}
10
Product not found
('grapes', 7)
dict_keys(['apple', 'banana', 'orange'])
dict_values([10, 5, 8])
dict_items([('apple', 10), ('banana', 5), ('orange', 8)])
{'apple': 10, 'banana': 5, 'orange': 8}
{'apple': 10, 'banana': 5, 'orange': 8}
{'apple': 1, 'banana': 5, 'orange': 8}

# **Assignment - 8**

1. Write a Python program that demonstrates the use of different types of parameters in functions:
  1. Define a function that takes only positional parameters and calculates the product of two numbers.

2. Define a function with default parameters to calculate the area of a rectangle. Ensure that if only one parameter is provided, the function should assume a square.

3. Define a function with keyword parameters to construct a formatted greeting
message. Allow specifying the name and title as keyword arguments.

4. Combine positional, default, and keyword parameters in a single function to
calculate the final price of a product after applying a discount.<br>
    i. Demonstrate calling this function using various combinations of arguments.<br>
    ii. Write a Python program to return multiple values at a time using a return statement.<br>
    iii. Write a Python program to demonstrate Local and Global variables.<br>
    iv. Write a program to double a given number and add two numbers using lambda()?.

# **Assignment - 9**

1. Python Program to Check Prime Number by Creating a Function.

2. Python Program to Calculate the Factorial of a Number Using Recursion.

3. Python Program to Find G.C.D Using Recursion.


4. Python Program to Calculate Power Using Recursion.

# **Assignment - 10**

Implement the following Searching and Sorting techniques in Python by using functions.

1. Linear Search

2. Binary Search

3. Selection Sort

4. Bubble Sort

5. Merge Sort

# **Assignment - 11**

1. Python program to perform read and write operations on a file.

2. Python program to copy the contents of a file to another file.

3. Python program to count frequency of characters in a given file.

4. Python program to print each line of a file in reverse order.

5. Python program to compute the number of characters, words and lines in a file.

6. Append some text to an existing file and then read the updated content.

7. Use tell() and seek() to navigate through a file and extract specific data.

8. Create a new directory and then create a new file inside it.

9. Rename a file and then delete it.

10. Create a nested directory structure and remove it recursively.

# **Assignment - 12**

1. Define a class 'Car' with attributes like 'make', 'model', and 'year'

2. Implement an __init__ method and a method to display car details.

3. Create an object of the 'Car' class and print its details.

# **Assignment - 13**

1. Write a python program to simulate the banking operations using Class.

2. Create a class Bank_Account with methods to deposit, withdraw, and check balance.

3. Modify the class to include a method for transferring funds between two accounts.

4. Test the class by creating multiple account objects and performing operations.

# **Assignment - 14**

1. Implementing real-time/technical applications using Exception handling. (divide by zero error, voter's age validity, student mark range validation)

2. Demonstrate a python code to print try, except and finally block statements.

# **Assignment - 15**

1. To write a python program to plot a simple python graph for a straight line.

2. To write a python program to plot a scatter plot, line plot, Bar plot, histogram Box plot, pair plot.

3. To create data frames in 2 different ways using pandas in python.

4. Load a CSV file and display its summary statistics.

5. Identify and handle missing values in a dataset.

6. Filter a Data Frame based on a condition and create a new Data Frame with the
result.

7. Rename columns in a Data Frame and demonstrate the changes.

8. Perform matrix multiplication on two 2x2 matrices (ndArray).